mixin portfolio(data)
	+b('section').portfolio
		+b.slider.owl-carousel
			+e.item
				+e('img').image(src='assets/images/content/work-1.jpg' alt='')
				+e('a').button(href='#link') Смотреть больше
				+e.fade
			+e.item
				+e('img').image(src='assets/images/content/work-2.jpg' alt='')
				+e('a').button(href='#link') Смотреть больше
				+e.fade
			+e.item
				+e('img').image(src='assets/images/content/work-3.jpg' alt='')
				+e('a').button(href='#link') Смотреть больше
				+e.fade
			+e.item
				+e('img').image(src='assets/images/content/work-4.jpg' alt='')
				+e('a').button(href='#link') Смотреть больше
				+e.fade


