mixin portfolio(data)
	+b('section').portfolio
		+b.slider
			+e.item
				+e('img').image(src='assets/images/content/work-1.jpg' alt='')
				+e('a').button(href='#link') Смотреть больше
			+e.item
				+e('img').image(src='assets/images/content/work-2.jpg' alt='')
				+e('a').button(href='#link') Смотреть больше
			+e.item
				+e('img').image(src='assets/images/content/work-3.jpg' alt='')
				+e('a').button(href='#link') Смотреть больше
			+e.item
				+e('img').image(src='assets/images/content/work-4.jpg' alt='')
				+e('a').button(href='#link') Смотреть больше
			+e.item
				+e('img').image(src='assets/images/content/work-6.jpg' alt='')
				+e('a').button(href='#link') Смотреть больше


			+e.pag
				+e('a')(href='#pag').pag-link 1
				+e('a')(href='#pag').pag-link 2
				+e('a')(href='#pag').pag-link 3
				+e('a')(href='#pag').pag-link 4
				+e('a')(href='#pag').pag-link 5
