mixin services(data)
	+b('section').services
		+e.in
			+e('ul').list
				+e('li').item._1
					+e('a').link(href='#link')
						+e.item-w
							+e.item-icon
						+e.item-title Дизайн сайтов
				+e('li').item._2
					+e('a').link(href='#link')
						+e.item-w
							+e.item-icon
						+e.item-title Дизайн <br/>приложений
				+e('li').item._3
					+e('a').link(href='#link')
						+e.item-w
							+e.item-icon
						+e.item-title Логотипы <br/>и фирменный стиль
				+e('li').item._4
					+e('a').link(href='#link')
						+e.item-w
							+e.item-icon
						+e.item-title Иллюстрации

