mixin footer(data)
	+b('footer').footer
		+e.fade
		+e.w
			+e.in
				+e.phone +7 (923) 183 81 44
				+e.email info@doozydev.com
				+e.social
					+e('a').social-link(href='#link') Vk
					+e('a').social-link(href='#link') Instagram



