/* Your custom fonts here */


@font-face {
	font-family: 'Cleanvertising-Light';
	src: url('../fonts/hinted-subset-Cleanvertising-Light.eot');
	src: local('Cleanvertising-Light'),
		url('../fonts/hinted-subset-Cleanvertising-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-Cleanvertising-Light.woff2') format('woff2'),
		url('../fonts/hinted-subset-Cleanvertising-Light.woff') format('woff'),
		url('../fonts/hinted-subset-Cleanvertising-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Cleanvertising-Black';
	src: url('../fonts/hinted-subset-Cleanvertising-Black.eot');
	src: local('Cleanvertising-Black'),
		url('../fonts/hinted-subset-Cleanvertising-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-Cleanvertising-Black.woff2') format('woff2'),
		url('../fonts/hinted-subset-Cleanvertising-Black.woff') format('woff'),
		url('../fonts/hinted-subset-Cleanvertising-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2';
	src: url('../fonts/hinted-subset-Exo2-Bold.eot');
	src: local('Exo 2 Bold'), local('Exo2-Bold'),
		url('../fonts/hinted-subset-Exo2-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-Exo2-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-Exo2-Bold.woff') format('woff'),
		url('../fonts/hinted-subset-Exo2-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/hinted-subset-MyriadPro-Regular.eot');
	src: local('Myriad Pro Regular'), local('MyriadPro-Regular'),
		url('../fonts/hinted-subset-MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-MyriadPro-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-MyriadPro-Regular.woff') format('woff'),
		url('../fonts/hinted-subset-MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


$clean-light = 'Cleanvertising-Light', Helvetica, Arial, sans-serif;
$clean-black = 'Cleanvertising-Black', Helvetica, Arial, sans-serif;
$exo2-bold = 'Exo 2', Helvetica, Arial, sans-serif;
$myriad-pro = 'Myriad Pro', Helvetica, Arial, sans-serif;





